In [7]:
import pandas as pd

df = pd.read_csv("../data/transacao_produto.csv")
df

,idTransacaoProduto,idTransacao,idProduto,qtdeProduto,VlProduto
0,000026d0-4d4e-4fed-934a-9e5b26d9e379,d59d9859-8fb9-41cc-a296-be38c4dce8e4,5,1,1
1,00002f54-dd03-4b3f-ade0-22c3e61df8c2,519241fd-2676-49b2-8e74-0acc09a08f69,5,1,1
2,00006a7d-c83a-44ca-aad9-e8a2a2f1b64d,73993c42-d18f-4f51-82c4-25e13c29962c,11,1,50
3,00013246-e90f-41a9-b4cc-c9e905fd520b,90bbc76e-f93e-494d-a7ba-5d6e971a88b8,5,1,1
4,000146b9-3ecc-4a08-be5a-e8127cf7d9b3,f6efc1f8-4e45-42d2-bb8f-c46fac06a1d5,5,1,1
...,...,...,...,...,...
182836,fffd0ca8-a6c9-4776-ba7a-2463dfeca712,02c3bd7e-adf3-4510-b7b8-25df934c1e61,5,1,1
182837,fffd40ea-e039-4654-b0b6-0b86e5b2a4e5,30e6ae30-e2b5-46bc-a5c9-a92c4900d548,5,1,1
182838,fffd9569-31e6-4515-8494-4edeabc0cfc2,6baf63b1-d05a-419d-a84f-abdf6906fef8,11,1,50
182839,fffe7e68-c450-4025-9469-e5cbe7699b49,90f7149b-5794-4d49-9239-c3bddb5b0980,5,1,1
182840,ffff210a-2594-42fa-8d85-c97483817542,4d7c74c0-5ca0-4786-823b-b393d505c2e6,5,1,1

In [9]:
filtro = (df["idProduto"] == 5) | (df["idProduto"] == 11)
df[filtro]

,idTransacaoProduto,idTransacao,idProduto,qtdeProduto,VlProduto
0,000026d0-4d4e-4fed-934a-9e5b26d9e379,d59d9859-8fb9-41cc-a296-be38c4dce8e4,5,1,1
1,00002f54-dd03-4b3f-ade0-22c3e61df8c2,519241fd-2676-49b2-8e74-0acc09a08f69,5,1,1
2,00006a7d-c83a-44ca-aad9-e8a2a2f1b64d,73993c42-d18f-4f51-82c4-25e13c29962c,11,1,50
3,00013246-e90f-41a9-b4cc-c9e905fd520b,90bbc76e-f93e-494d-a7ba-5d6e971a88b8,5,1,1
4,000146b9-3ecc-4a08-be5a-e8127cf7d9b3,f6efc1f8-4e45-42d2-bb8f-c46fac06a1d5,5,1,1
...,...,...,...,...,...
182836,fffd0ca8-a6c9-4776-ba7a-2463dfeca712,02c3bd7e-adf3-4510-b7b8-25df934c1e61,5,1,1
182837,fffd40ea-e039-4654-b0b6-0b86e5b2a4e5,30e6ae30-e2b5-46bc-a5c9-a92c4900d548,5,1,1
182838,fffd9569-31e6-4515-8494-4edeabc0cfc2,6baf63b1-d05a-419d-a84f-abdf6906fef8,11,1,50
182839,fffe7e68-c450-4025-9469-e5cbe7699b49,90f7149b-5794-4d49-9239-c3bddb5b0980,5,1,1
182840,ffff210a-2594-42fa-8d85-c97483817542,4d7c74c0-5ca0-4786-823b-b393d505c2e6,5,1,1

In [ ]:
df[df["idProduto"].isin([1, 11])]

,idTransacaoProduto,idTransacao,idProduto,qtdeProduto,VlProduto
2,00006a7d-c83a-44ca-aad9-e8a2a2f1b64d,73993c42-d18f-4f51-82c4-25e13c29962c,11,1,50
5,000168b2-cafc-4379-8971-9db842f784f7,cdb0b2d9-efa2-4f8f-9c37-68e1ed76bab0,11,1,50
6,0002f82f-87d6-4ef6-9e68-b98202580bb4,d75f7660-e30f-4c70-a4c2-e7b8f930c743,11,1,50
31,000dc739-eb0d-4c90-b695-b3b843dc87e7,323f5ff0-d21b-4893-9beb-bc156bcd1767,11,1,50
70,001b869b-dda3-4e0a-99d1-757be185d4d8,30d7f72b-2081-4820-9958-15c5c7647296,11,1,50
...,...,...,...,...,...
182814,fff1d59b-c037-433f-992d-ebab7f4aad3b,a1465d65-fb40-4df6-9923-5a55be0ef509,11,1,50
182817,fff3ad11-9d27-4fd6-9e1a-81e27c8070e6,0e6fea9d-59d2-4b0f-b31c-c0ed982202fb,11,1,50
182819,fff65386-2de3-4fb6-84f7-3f497a58213a,08eed07d-967e-442f-bfdb-d5015057ac72,11,1,50
182828,fff906f5-3c7b-4de6-b500-539dd332d2c2,c3d0d2c2-8425-4cae-a763-2d7d013dcef4,11,1,50
182838,fffd9569-31e6-4515-8494-4edeabc0cfc2,6baf63b1-d05a-419d-a84f-abdf6906fef8,11,1,50

In [13]:
# Para fazer a negaÃ§Ã£o utiliza-se um ~ antes da expressÃ£o
df[~df["idProduto"].isin([1, 11])]

,idTransacaoProduto,idTransacao,idProduto,qtdeProduto,VlProduto
0,000026d0-4d4e-4fed-934a-9e5b26d9e379,d59d9859-8fb9-41cc-a296-be38c4dce8e4,5,1,1
1,00002f54-dd03-4b3f-ade0-22c3e61df8c2,519241fd-2676-49b2-8e74-0acc09a08f69,5,1,1
3,00013246-e90f-41a9-b4cc-c9e905fd520b,90bbc76e-f93e-494d-a7ba-5d6e971a88b8,5,1,1
4,000146b9-3ecc-4a08-be5a-e8127cf7d9b3,f6efc1f8-4e45-42d2-bb8f-c46fac06a1d5,5,1,1
7,00031b34-7b42-400b-9f99-9ee0b18cb7b8,2c8b29ba-c71a-4043-8354-ae03ba0ac4b0,5,1,1
...,...,...,...,...,...
182835,fffcb450-d17a-4d61-a89e-4ed1723ad6b1,d838bafc-8702-4ace-8fd0-73a838640bf7,5,1,1
182836,fffd0ca8-a6c9-4776-ba7a-2463dfeca712,02c3bd7e-adf3-4510-b7b8-25df934c1e61,5,1,1
182837,fffd40ea-e039-4654-b0b6-0b86e5b2a4e5,30e6ae30-e2b5-46bc-a5c9-a92c4900d548,5,1,1
182839,fffe7e68-c450-4025-9469-e5cbe7699b49,90f7149b-5794-4d49-9239-c3bddb5b0980,5,1,1
182840,ffff210a-2594-42fa-8d85-c97483817542,4d7c74c0-5ca0-4786-823b-b393d505c2e6,5,1,1