In [8]:
import pandas as pd

df = pd.read_csv("../data/clientes.csv")
df

,idCliente,flEmail,flTwitch,flYouTube,flBlueSky,flInstagram,qtdePontos,dtCriacao,dtAtualizacao
0,000ff655-fa9f-4baa-a108-47f581ec52a1,0,0,0,0,0,686,NaN,NaN
1,001749bd-37b5-4b1e-8111-f9fbba90f530,0,0,0,0,0,50,NaN,NaN
2,0019bb9e-26d4-4ebf-8727-fc911ea28a92,0,0,0,0,0,2,NaN,NaN
3,0033b737-8235-4c0f-9801-dc4ca185af00,0,1,0,0,0,1090,0000-00-00 00:00:00.000,2025-02-19 12:48:24.632
4,00684343-40b5-4ce7-b2e8-71a5340973bf,0,0,0,0,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2431,fecbdf63-3bf4-44e5-8b1a-0acc9d963603,0,0,0,0,0,111,NaN,NaN
2432,ff07d926-f09e-420b-bebf-3dba02ae5dff,0,1,0,0,0,54,2025-01-21 11:49:58.172,2025-02-28 11:55:04.999
2433,ff1ceaef-650c-422b-bdc3-6984e29e7aa5,0,0,0,0,0,162,NaN,NaN
2434,ff2cabd3-3316-4b3f-8494-c25f95e90524,0,1,0,0,0,57,2025-02-10 11:12:30.631,2025-02-10 12:37:47.892
2435,ff4909ad-4e52-4767-a6fc-0fbd76e37857,0,0,0,0,0,50,NaN,NaN

In [9]:
filtro = df["qtdePontos"] == 0
df_filtrado = df[filtro].copy()

In [10]:
df_filtrado["cod"] = 1
df_filtrado

,idCliente,flEmail,flTwitch,flYouTube,flBlueSky,flInstagram,qtdePontos,dtCriacao,dtAtualizacao,cod
4,00684343-40b5-4ce7-b2e8-71a5340973bf,0,0,0,0,0,0,NaN,NaN,1
7,00c26486-33e8-4af9-8e0f-4ee220252ca9,0,0,0,0,0,0,NaN,NaN,1
31,031f1b88-5440-45af-8fa9-1423a0a15145,0,0,0,0,0,0,NaN,NaN,1
40,03a59296-ca4e-4521-b7a1-4c6b8a604c17,0,1,0,0,0,0,2024-11-08 13:05:31.131,2024-11-08 13:05:31.131,1
79,06cd7d0d-d65f-4fba-b871-541e02dd8427,0,0,0,0,0,0,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...
2346,f46b7c0a-f576-469f-97c1-3cd681a72861,0,0,0,0,0,0,NaN,NaN,1
2354,f56cccc5-fe3f-494d-8d80-d949e1f2c0e5,0,0,0,0,0,0,NaN,NaN,1
2400,faf46096-5f3c-4419-befb-7365c881d2d6,0,0,0,0,0,0,NaN,NaN,1
2403,fb3a4cb0-1705-4456-95b9-2b7062670ba6,0,1,0,0,0,0,2025-02-28 12:17:10.398,2025-02-28 12:17:10.398,1
2419,fcfde021-715d-4977-9bc5-9131e5394d05,0,0,0,0,0,0,NaN,NaN,1

In [11]:
df

,idCliente,flEmail,flTwitch,flYouTube,flBlueSky,flInstagram,qtdePontos,dtCriacao,dtAtualizacao
0,000ff655-fa9f-4baa-a108-47f581ec52a1,0,0,0,0,0,686,NaN,NaN
1,001749bd-37b5-4b1e-8111-f9fbba90f530,0,0,0,0,0,50,NaN,NaN
2,0019bb9e-26d4-4ebf-8727-fc911ea28a92,0,0,0,0,0,2,NaN,NaN
3,0033b737-8235-4c0f-9801-dc4ca185af00,0,1,0,0,0,1090,0000-00-00 00:00:00.000,2025-02-19 12:48:24.632
4,00684343-40b5-4ce7-b2e8-71a5340973bf,0,0,0,0,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2431,fecbdf63-3bf4-44e5-8b1a-0acc9d963603,0,0,0,0,0,111,NaN,NaN
2432,ff07d926-f09e-420b-bebf-3dba02ae5dff,0,1,0,0,0,54,2025-01-21 11:49:58.172,2025-02-28 11:55:04.999
2433,ff1ceaef-650c-422b-bdc3-6984e29e7aa5,0,0,0,0,0,162,NaN,NaN
2434,ff2cabd3-3316-4b3f-8494-c25f95e90524,0,1,0,0,0,57,2025-02-10 11:12:30.631,2025-02-10 12:37:47.892
2435,ff4909ad-4e52-4767-a6fc-0fbd76e37857,0,0,0,0,0,50,NaN,NaN