In [4]:
import pandas as pd

trans = pd.read_csv('../data/transacoes.csv')
clientes = pd.read_csv('../data/clientes.csv')
clientes.head()

,idCliente,flEmail,flTwitch,flYouTube,flBlueSky,flInstagram,qtdePontos,dtCriacao,dtAtualizacao
0,000ff655-fa9f-4baa-a108-47f581ec52a1,0,0,0,0,0,686,NaN,NaN
1,001749bd-37b5-4b1e-8111-f9fbba90f530,0,0,0,0,0,50,NaN,NaN
2,0019bb9e-26d4-4ebf-8727-fc911ea28a92,0,0,0,0,0,2,NaN,NaN
3,0033b737-8235-4c0f-9801-dc4ca185af00,0,1,0,0,0,1090,0000-00-00 00:00:00.000,2025-02-19 12:48:24.632
4,00684343-40b5-4ce7-b2e8-71a5340973bf,0,0,0,0,0,0,NaN,NaN

In [5]:
trans.head()

,idTransacao,idCliente,dtCriacao,qtdePontos,descSistemaOrigem
0,000060e8-aa76-4286-a8d7-f30e6fa47edd,252a0923-3f79-45bb-b664-3040235c6c58,2024-07-23 12:49:49.874,1,twitch
1,0000dfbb-e14e-4ea7-a57f-60236869fffe,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,2024-02-20 13:21:45.613,1,twitch
2,0000e94f-fb76-42b7-82e3-5059b6e40703,3884c92f-a635-4b67-9e5a-97730829cdca,2024-02-05 13:27:18.987,1,twitch
3,00019b46-6b25-47c3-aa8f-f550d7dbcb00,e2624c1c-c8af-4622-94e0-f3470037292f,2024-06-20 19:22:45.600,1,twitch
4,0001d503-58d0-4c3e-b0f4-eda1d5f97d06,9aba2685-7c0a-4d1f-8e22-0c47ca0af580,2024-03-18 13:04:21.814,1,twitch

In [9]:
# trazer as informações de clientes para a tabela de transações
# right é para definir quem será a tabela em que irá buscar as colunas.
# how é o tipo de resultado: left para manter todos os dados da esquerda independente da correspondência. Inner para manter apenas os dados que possuem correspondência.
# on especifica qual é a coluna em comum entre as duas tabelas.
trans.merge(right=clientes, how='left', on=['idCliente'], suffixes=['Trans', 'Clientes']).head(2)

,idTransacao,idCliente,dtCriacaoTrans,qtdePontosTrans,descSistemaOrigem,flEmail,flTwitch,flYouTube,flBlueSky,flInstagram,qtdePontosClientes,dtCriacaoClientes,dtAtualizacao
0,000060e8-aa76-4286-a8d7-f30e6fa47edd,252a0923-3f79-45bb-b664-3040235c6c58,2024-07-23 12:49:49.874,1,twitch,0,1,0,0,0,1908,0000-00-00 00:00:00.000,2024-11-29 11:36:40.662
1,0000dfbb-e14e-4ea7-a57f-60236869fffe,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,2024-02-20 13:21:45.613,1,twitch,1,1,0,0,0,11195,0000-00-00 00:00:00.000,2025-02-28 22:02:02.503

In [ ]:
# O left_on e o right_on são utilizados quando a coluna em comum entre dois dataframes possuem nomes diferentes
trans.merge(right=clientes, how='left', left_on=['idCliente'], right_on=['idCliente'], suffixes=['Trans', 'Clientes']).head(2)

,idTransacao,idCliente,dtCriacaoTrans,qtdePontosTrans,descSistemaOrigem,flEmail,flTwitch,flYouTube,flBlueSky,flInstagram,qtdePontosClientes,dtCriacaoClientes,dtAtualizacao
0,000060e8-aa76-4286-a8d7-f30e6fa47edd,252a0923-3f79-45bb-b664-3040235c6c58,2024-07-23 12:49:49.874,1,twitch,0,1,0,0,0,1908,0000-00-00 00:00:00.000,2024-11-29 11:36:40.662
1,0000dfbb-e14e-4ea7-a57f-60236869fffe,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,2024-02-20 13:21:45.613,1,twitch,1,1,0,0,0,11195,0000-00-00 00:00:00.000,2025-02-28 22:02:02.503