In [18]:
import pandas as pd

df = pd.read_csv('../data/transacoes.csv')

# Quantidade de linhas
df.shape[0]

182835

In [19]:
# Memória RAM ocupada
df.info(memory_usage= 'deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 182835 entries, 0 to 182834
Data columns (total 5 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   idTransacao        182835 non-null  object
 1   idCliente          182835 non-null  object
 2   dtCriacao          182835 non-null  object
 3   qtdePontos         182835 non-null  int64
 4   descSistemaOrigem  182835 non-null  object
dtypes: int64(1), object(4)
memory usage: 53.2 MB

In [20]:
# Tipagem de cada coluna
df.dtypes

idTransacao          object
idCliente            object
dtCriacao            object
qtdePontos            int64
descSistemaOrigem    object
dtype: object

In [ ]:
# Método para renomear as colunas do dataframe
df.rename(columns={
    "idTransacao": "id_transacao",
    "idCliente": "id_cliente",
})
# Esse método não altera permanentemente o dataframe

,id_transacao,id_cliente,dtCriacao,qtdePontos,descSistemaOrigem
0,000060e8-aa76-4286-a8d7-f30e6fa47edd,252a0923-3f79-45bb-b664-3040235c6c58,2024-07-23 12:49:49.874,1,twitch
1,0000dfbb-e14e-4ea7-a57f-60236869fffe,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,2024-02-20 13:21:45.613,1,twitch
2,0000e94f-fb76-42b7-82e3-5059b6e40703,3884c92f-a635-4b67-9e5a-97730829cdca,2024-02-05 13:27:18.987,1,twitch
3,00019b46-6b25-47c3-aa8f-f550d7dbcb00,e2624c1c-c8af-4622-94e0-f3470037292f,2024-06-20 19:22:45.600,1,twitch
4,0001d503-58d0-4c3e-b0f4-eda1d5f97d06,9aba2685-7c0a-4d1f-8e22-0c47ca0af580,2024-03-18 13:04:21.814,1,twitch
...,...,...,...,...,...
182830,ffff45c7-83dc-4fa9-82b5-b41352093596,6313ceac-7806-4d34-aedd-476eed7c853a,2025-01-03 12:59:27.229,1,twitch
182831,ffff52de-13fb-4405-a797-fddb5b4a48c5,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,2024-02-24 12:22:26.313,1,twitch
182832,ffffb5ab-047e-43e4-bab3-ee2d19e9b7db,961622c3-3c29-4fa1-88d2-4f408d6d6ebb,2024-08-16 13:09:42.576,1,twitch
182833,ffffc72e-d882-47f0-b933-cfd92c7e6621,2d3d2dce-d353-4961-ad39-46723efe2100,2024-02-06 11:51:24.788,1,twitch
182834,fffff928-9a18-4741-a516-3a92351d1d72,65662aff-44d6-4f06-b9d9-07445c6e5943,2024-08-21 14:13:31.788,1,twitch

In [ ]:
# Método para renomar as colunas do dataframe permanentemente
df.rename(columns={
    "idTransacao": "id_transacao",
    "idCliente": "id_cliente",
}, inplace=True)
# Esse método altera permanentemente o dataframe

In [32]:
# Exibir colunas do dataframe
colunas = ['id_cliente', 'id_transacao']
df[colunas]

,id_cliente,id_transacao
0,252a0923-3f79-45bb-b664-3040235c6c58,000060e8-aa76-4286-a8d7-f30e6fa47edd
1,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,0000dfbb-e14e-4ea7-a57f-60236869fffe
2,3884c92f-a635-4b67-9e5a-97730829cdca,0000e94f-fb76-42b7-82e3-5059b6e40703
3,e2624c1c-c8af-4622-94e0-f3470037292f,00019b46-6b25-47c3-aa8f-f550d7dbcb00
4,9aba2685-7c0a-4d1f-8e22-0c47ca0af580,0001d503-58d0-4c3e-b0f4-eda1d5f97d06
...,...,...
182830,6313ceac-7806-4d34-aedd-476eed7c853a,ffff45c7-83dc-4fa9-82b5-b41352093596
182831,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,ffff52de-13fb-4405-a797-fddb5b4a48c5
182832,961622c3-3c29-4fa1-88d2-4f408d6d6ebb,ffffb5ab-047e-43e4-bab3-ee2d19e9b7db
182833,2d3d2dce-d353-4961-ad39-46723efe2100,ffffc72e-d882-47f0-b933-cfd92c7e6621
182834,65662aff-44d6-4f06-b9d9-07445c6e5943,fffff928-9a18-4741-a516-3a92351d1d72

In [ ]:
# Ordenando as colunas do dataframe em ordem alfabética
df[df.columns.sort_values()]

,descSistemaOrigem,dtCriacao,id_cliente,id_transacao,qtdePontos
0,twitch,2024-07-23 12:49:49.874,252a0923-3f79-45bb-b664-3040235c6c58,000060e8-aa76-4286-a8d7-f30e6fa47edd,1
1,twitch,2024-02-20 13:21:45.613,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,0000dfbb-e14e-4ea7-a57f-60236869fffe,1
2,twitch,2024-02-05 13:27:18.987,3884c92f-a635-4b67-9e5a-97730829cdca,0000e94f-fb76-42b7-82e3-5059b6e40703,1
3,twitch,2024-06-20 19:22:45.600,e2624c1c-c8af-4622-94e0-f3470037292f,00019b46-6b25-47c3-aa8f-f550d7dbcb00,1
4,twitch,2024-03-18 13:04:21.814,9aba2685-7c0a-4d1f-8e22-0c47ca0af580,0001d503-58d0-4c3e-b0f4-eda1d5f97d06,1
...,...,...,...,...,...
182830,twitch,2025-01-03 12:59:27.229,6313ceac-7806-4d34-aedd-476eed7c853a,ffff45c7-83dc-4fa9-82b5-b41352093596,1
182831,twitch,2024-02-24 12:22:26.313,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,ffff52de-13fb-4405-a797-fddb5b4a48c5,1
182832,twitch,2024-08-16 13:09:42.576,961622c3-3c29-4fa1-88d2-4f408d6d6ebb,ffffb5ab-047e-43e4-bab3-ee2d19e9b7db,1
182833,twitch,2024-02-06 11:51:24.788,2d3d2dce-d353-4961-ad39-46723efe2100,ffffc72e-d882-47f0-b933-cfd92c7e6621,1
182834,twitch,2024-08-21 14:13:31.788,65662aff-44d6-4f06-b9d9-07445c6e5943,fffff928-9a18-4741-a516-3a92351d1d72,1