# Quem teve mais transação de streak?

In [75]:
import pandas as pd
prod = pd.read_csv('../../data/produtos.csv')
prod.head()

   idProduto        descProduto
0          1      Airflow Lover
1         10         Daily Loot
2         11  Lista de presença
3         12    Presença Streak
4         13            R Lover

In [76]:
import pandas as pd
trans_prod = pd.read_csv('../../data/transacao_produto.csv')
trans_prod.head()

,idTransacaoProduto,idTransacao,idProduto,qtdeProduto,VlProduto
0,000026d0-4d4e-4fed-934a-9e5b26d9e379,d59d9859-8fb9-41cc-a296-be38c4dce8e4,5,1,1
1,00002f54-dd03-4b3f-ade0-22c3e61df8c2,519241fd-2676-49b2-8e74-0acc09a08f69,5,1,1
2,00006a7d-c83a-44ca-aad9-e8a2a2f1b64d,73993c42-d18f-4f51-82c4-25e13c29962c,11,1,50
3,00013246-e90f-41a9-b4cc-c9e905fd520b,90bbc76e-f93e-494d-a7ba-5d6e971a88b8,5,1,1
4,000146b9-3ecc-4a08-be5a-e8127cf7d9b3,f6efc1f8-4e45-42d2-bb8f-c46fac06a1d5,5,1,1

In [77]:
trans_prod = trans_prod.merge(right=prod, how='left', on=['idProduto'])
trans_prod.head()

,idTransacaoProduto,idTransacao,idProduto,qtdeProduto,VlProduto,descProduto
0,000026d0-4d4e-4fed-934a-9e5b26d9e379,d59d9859-8fb9-41cc-a296-be38c4dce8e4,5,1,1,ChatMessage
1,00002f54-dd03-4b3f-ade0-22c3e61df8c2,519241fd-2676-49b2-8e74-0acc09a08f69,5,1,1,ChatMessage
2,00006a7d-c83a-44ca-aad9-e8a2a2f1b64d,73993c42-d18f-4f51-82c4-25e13c29962c,11,1,50,Lista de presença
3,00013246-e90f-41a9-b4cc-c9e905fd520b,90bbc76e-f93e-494d-a7ba-5d6e971a88b8,5,1,1,ChatMessage
4,000146b9-3ecc-4a08-be5a-e8127cf7d9b3,f6efc1f8-4e45-42d2-bb8f-c46fac06a1d5,5,1,1,ChatMessage

In [78]:
trans = pd.read_csv('../../data/transacoes.csv')
trans.head()

,idTransacao,idCliente,dtCriacao,qtdePontos,descSistemaOrigem
0,000060e8-aa76-4286-a8d7-f30e6fa47edd,252a0923-3f79-45bb-b664-3040235c6c58,2024-07-23 12:49:49.874,1,twitch
1,0000dfbb-e14e-4ea7-a57f-60236869fffe,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,2024-02-20 13:21:45.613,1,twitch
2,0000e94f-fb76-42b7-82e3-5059b6e40703,3884c92f-a635-4b67-9e5a-97730829cdca,2024-02-05 13:27:18.987,1,twitch
3,00019b46-6b25-47c3-aa8f-f550d7dbcb00,e2624c1c-c8af-4622-94e0-f3470037292f,2024-06-20 19:22:45.600,1,twitch
4,0001d503-58d0-4c3e-b0f4-eda1d5f97d06,9aba2685-7c0a-4d1f-8e22-0c47ca0af580,2024-03-18 13:04:21.814,1,twitch

In [79]:
trans = trans.merge(right=trans_prod, how='left', on='idTransacao')
trans.head()

,idTransacao,idCliente,dtCriacao,qtdePontos,descSistemaOrigem,idTransacaoProduto,idProduto,qtdeProduto,VlProduto,descProduto
0,000060e8-aa76-4286-a8d7-f30e6fa47edd,252a0923-3f79-45bb-b664-3040235c6c58,2024-07-23 12:49:49.874,1,twitch,9d90f1a5-2442-429f-a913-37f2734979ef,5,1,1,ChatMessage
1,0000dfbb-e14e-4ea7-a57f-60236869fffe,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,2024-02-20 13:21:45.613,1,twitch,85293b0c-399d-4590-a2a8-9943825d62e9,5,1,1,ChatMessage
2,0000e94f-fb76-42b7-82e3-5059b6e40703,3884c92f-a635-4b67-9e5a-97730829cdca,2024-02-05 13:27:18.987,1,twitch,1a05616b-e315-4209-8639-0271570b97a1,5,1,1,ChatMessage
3,00019b46-6b25-47c3-aa8f-f550d7dbcb00,e2624c1c-c8af-4622-94e0-f3470037292f,2024-06-20 19:22:45.600,1,twitch,aa76f012-cd7e-4eb0-b47a-2edc5bd945a5,5,1,1,ChatMessage
4,0001d503-58d0-4c3e-b0f4-eda1d5f97d06,9aba2685-7c0a-4d1f-8e22-0c47ca0af580,2024-03-18 13:04:21.814,1,twitch,a49ea736-1013-42d8-95cb-dc4be6896ddb,5,1,1,ChatMessage

In [80]:
filtro = trans['descProduto'] == 'Presença Streak'
trans = trans[filtro]
trans.head()

,idTransacao,idCliente,dtCriacao,qtdePontos,descSistemaOrigem,idTransacaoProduto,idProduto,qtdeProduto,VlProduto,descProduto
347,00722282-694b-489b-b240-62b9f69a253a,1cd31d33-7b05-4e9b-9776-cec770be61fa,2024-08-30 12:43:53.482,100,twitch,8e6b98b4-7e3e-46a8-b163-27dd7d23bd8d,12,1,100,Presença Streak
446,0093c937-3d7d-433a-9df1-200341929150,1c2dc77d-476a-4a58-9338-759ff0dac290,2025-02-14 11:30:25.732,100,twitch,78fb587f-f71e-45e2-9d88-36c38de2fab9,12,1,100,Presença Streak
509,00a6bf66-34a5-47e5-b52a-654f754fb5f8,820c0e06-c405-4979-8975-ecfa17abb0f9,2024-05-10 11:26:50.676,100,twitch,0eca719c-08b3-459c-8b50-2885d2b87df4,12,1,100,Presença Streak
584,00c76527-8662-4f8e-bb0a-eeec0233c25b,ca35412d-b340-4e7d-a391-020ec6bb6517,2024-08-16 12:20:58.250,100,twitch,50c72886-4de1-45e7-ad88-fa0c5dd75a38,12,1,100,Presença Streak
648,00e42f65-3c9d-4fd2-9584-ed0a81e4518e,8351bd6a-6bfc-4d35-93aa-46d3528429c3,2024-09-27 12:05:32.865,100,twitch,465ea66f-3c9a-4e01-8741-e2efb186ba7f,12,1,100,Presença Streak

In [81]:
trans = trans.groupby(by='idCliente', as_index=False)['idTransacao'].count()
trans = trans.sort_values(by=['idTransacao'], ascending=False)
trans.head(1)

                                idCliente  idTransacao
119  6313ceac-7806-4d34-aedd-476eed7c853a           76