In [28]:
import pandas as pd

df = pd.read_csv("../data/clientes.csv")
df

,idCliente,flEmail,flTwitch,flYouTube,flBlueSky,flInstagram,qtdePontos,dtCriacao,dtAtualizacao
0,000ff655-fa9f-4baa-a108-47f581ec52a1,0,0,0,0,0,686,NaN,NaN
1,001749bd-37b5-4b1e-8111-f9fbba90f530,0,0,0,0,0,50,NaN,NaN
2,0019bb9e-26d4-4ebf-8727-fc911ea28a92,0,0,0,0,0,2,NaN,NaN
3,0033b737-8235-4c0f-9801-dc4ca185af00,0,1,0,0,0,1090,0000-00-00 00:00:00.000,2025-02-19 12:48:24.632
4,00684343-40b5-4ce7-b2e8-71a5340973bf,0,0,0,0,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2431,fecbdf63-3bf4-44e5-8b1a-0acc9d963603,0,0,0,0,0,111,NaN,NaN
2432,ff07d926-f09e-420b-bebf-3dba02ae5dff,0,1,0,0,0,54,2025-01-21 11:49:58.172,2025-02-28 11:55:04.999
2433,ff1ceaef-650c-422b-bdc3-6984e29e7aa5,0,0,0,0,0,162,NaN,NaN
2434,ff2cabd3-3316-4b3f-8494-c25f95e90524,0,1,0,0,0,57,2025-02-10 11:12:30.631,2025-02-10 12:37:47.892
2435,ff4909ad-4e52-4767-a6fc-0fbd76e37857,0,0,0,0,0,50,NaN,NaN

In [29]:
# Dropar as linhas que possuem algum n/a
df.dropna()

,idCliente,flEmail,flTwitch,flYouTube,flBlueSky,flInstagram,qtdePontos,dtCriacao,dtAtualizacao
3,0033b737-8235-4c0f-9801-dc4ca185af00,0,1,0,0,0,1090,0000-00-00 00:00:00.000,2025-02-19 12:48:24.632
6,00a6d4c8-38e5-4e92-981e-4e4ac5084546,1,0,0,0,0,6637,0000-00-00 00:00:00.000,2025-02-27 12:28:58.378
9,0122142b-464c-414a-9aad-e901f492a1a3,0,1,0,0,0,119,2025-01-10 12:01:26.743,2025-02-10 11:09:05.041
12,014491f5-caa3-4122-be69-a31411ad4bd7,0,1,0,0,0,154,0000-00-00 00:00:00.000,2024-11-25 12:29:46.067
13,0147f062-0e6c-46a9-a66d-d0bc4d651a73,0,1,0,0,0,50,2025-01-08 11:52:29.269,2025-01-08 11:52:39.201
...,...,...,...,...,...,...,...,...,...
2424,fdac1c1e-bd14-4f14-8fbd-e4265e3e7ac7,0,1,0,0,0,554,2025-02-10 11:09:21.094,2025-02-21 11:37:23.844
2426,fe391f8e-c2eb-4bd9-b8a5-e284151deb6a,0,1,0,0,0,100,2025-02-11 11:01:12.243,2025-02-19 11:06:57.941
2429,feb1a34d-202a-4224-a1b3-0e737b12dd4d,0,1,0,0,0,2316,0000-00-00 00:00:00.000,2024-12-11 12:41:29.958
2432,ff07d926-f09e-420b-bebf-3dba02ae5dff,0,1,0,0,0,54,2025-01-21 11:49:58.172,2025-02-28 11:55:04.999
2434,ff2cabd3-3316-4b3f-8494-c25f95e90524,0,1,0,0,0,57,2025-02-10 11:12:30.631,2025-02-10 12:37:47.892

In [30]:
# Dropar apenas as linhas que sejam totalmente n/a
df.dropna(how="all")

,idCliente,flEmail,flTwitch,flYouTube,flBlueSky,flInstagram,qtdePontos,dtCriacao,dtAtualizacao
0,000ff655-fa9f-4baa-a108-47f581ec52a1,0,0,0,0,0,686,NaN,NaN
1,001749bd-37b5-4b1e-8111-f9fbba90f530,0,0,0,0,0,50,NaN,NaN
2,0019bb9e-26d4-4ebf-8727-fc911ea28a92,0,0,0,0,0,2,NaN,NaN
3,0033b737-8235-4c0f-9801-dc4ca185af00,0,1,0,0,0,1090,0000-00-00 00:00:00.000,2025-02-19 12:48:24.632
4,00684343-40b5-4ce7-b2e8-71a5340973bf,0,0,0,0,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2431,fecbdf63-3bf4-44e5-8b1a-0acc9d963603,0,0,0,0,0,111,NaN,NaN
2432,ff07d926-f09e-420b-bebf-3dba02ae5dff,0,1,0,0,0,54,2025-01-21 11:49:58.172,2025-02-28 11:55:04.999
2433,ff1ceaef-650c-422b-bdc3-6984e29e7aa5,0,0,0,0,0,162,NaN,NaN
2434,ff2cabd3-3316-4b3f-8494-c25f95e90524,0,1,0,0,0,57,2025-02-10 11:12:30.631,2025-02-10 12:37:47.892
2435,ff4909ad-4e52-4767-a6fc-0fbd76e37857,0,0,0,0,0,50,NaN,NaN

In [31]:
# Dropar a linha que possui alguma n/a
# Ã‰ o default do mÃ©todo .dropna()
df.dropna(how="any")

,idCliente,flEmail,flTwitch,flYouTube,flBlueSky,flInstagram,qtdePontos,dtCriacao,dtAtualizacao
3,0033b737-8235-4c0f-9801-dc4ca185af00,0,1,0,0,0,1090,0000-00-00 00:00:00.000,2025-02-19 12:48:24.632
6,00a6d4c8-38e5-4e92-981e-4e4ac5084546,1,0,0,0,0,6637,0000-00-00 00:00:00.000,2025-02-27 12:28:58.378
9,0122142b-464c-414a-9aad-e901f492a1a3,0,1,0,0,0,119,2025-01-10 12:01:26.743,2025-02-10 11:09:05.041
12,014491f5-caa3-4122-be69-a31411ad4bd7,0,1,0,0,0,154,0000-00-00 00:00:00.000,2024-11-25 12:29:46.067
13,0147f062-0e6c-46a9-a66d-d0bc4d651a73,0,1,0,0,0,50,2025-01-08 11:52:29.269,2025-01-08 11:52:39.201
...,...,...,...,...,...,...,...,...,...
2424,fdac1c1e-bd14-4f14-8fbd-e4265e3e7ac7,0,1,0,0,0,554,2025-02-10 11:09:21.094,2025-02-21 11:37:23.844
2426,fe391f8e-c2eb-4bd9-b8a5-e284151deb6a,0,1,0,0,0,100,2025-02-11 11:01:12.243,2025-02-19 11:06:57.941
2429,feb1a34d-202a-4224-a1b3-0e737b12dd4d,0,1,0,0,0,2316,0000-00-00 00:00:00.000,2024-12-11 12:41:29.958
2432,ff07d926-f09e-420b-bebf-3dba02ae5dff,0,1,0,0,0,54,2025-01-21 11:49:58.172,2025-02-28 11:55:04.999
2434,ff2cabd3-3316-4b3f-8494-c25f95e90524,0,1,0,0,0,57,2025-02-10 11:12:30.631,2025-02-10 12:37:47.892

In [32]:
# Dropar linhas que possuem n/a em alguma coluna especÃ­fica.
df.dropna(how="any", subset=["dtAtualizacao"])

,idCliente,flEmail,flTwitch,flYouTube,flBlueSky,flInstagram,qtdePontos,dtCriacao,dtAtualizacao
3,0033b737-8235-4c0f-9801-dc4ca185af00,0,1,0,0,0,1090,0000-00-00 00:00:00.000,2025-02-19 12:48:24.632
6,00a6d4c8-38e5-4e92-981e-4e4ac5084546,1,0,0,0,0,6637,0000-00-00 00:00:00.000,2025-02-27 12:28:58.378
9,0122142b-464c-414a-9aad-e901f492a1a3,0,1,0,0,0,119,2025-01-10 12:01:26.743,2025-02-10 11:09:05.041
12,014491f5-caa3-4122-be69-a31411ad4bd7,0,1,0,0,0,154,0000-00-00 00:00:00.000,2024-11-25 12:29:46.067
13,0147f062-0e6c-46a9-a66d-d0bc4d651a73,0,1,0,0,0,50,2025-01-08 11:52:29.269,2025-01-08 11:52:39.201
...,...,...,...,...,...,...,...,...,...
2424,fdac1c1e-bd14-4f14-8fbd-e4265e3e7ac7,0,1,0,0,0,554,2025-02-10 11:09:21.094,2025-02-21 11:37:23.844
2426,fe391f8e-c2eb-4bd9-b8a5-e284151deb6a,0,1,0,0,0,100,2025-02-11 11:01:12.243,2025-02-19 11:06:57.941
2429,feb1a34d-202a-4224-a1b3-0e737b12dd4d,0,1,0,0,0,2316,0000-00-00 00:00:00.000,2024-12-11 12:41:29.958
2432,ff07d926-f09e-420b-bebf-3dba02ae5dff,0,1,0,0,0,54,2025-01-21 11:49:58.172,2025-02-28 11:55:04.999
2434,ff2cabd3-3316-4b3f-8494-c25f95e90524,0,1,0,0,0,57,2025-02-10 11:12:30.631,2025-02-10 12:37:47.892

In [33]:
# Inserir algum valor em todos os n/a do dataframe
df.fillna(0)

,idCliente,flEmail,flTwitch,flYouTube,flBlueSky,flInstagram,qtdePontos,dtCriacao,dtAtualizacao
0,000ff655-fa9f-4baa-a108-47f581ec52a1,0,0,0,0,0,686,0,0
1,001749bd-37b5-4b1e-8111-f9fbba90f530,0,0,0,0,0,50,0,0
2,0019bb9e-26d4-4ebf-8727-fc911ea28a92,0,0,0,0,0,2,0,0
3,0033b737-8235-4c0f-9801-dc4ca185af00,0,1,0,0,0,1090,0000-00-00 00:00:00.000,2025-02-19 12:48:24.632
4,00684343-40b5-4ce7-b2e8-71a5340973bf,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
2431,fecbdf63-3bf4-44e5-8b1a-0acc9d963603,0,0,0,0,0,111,0,0
2432,ff07d926-f09e-420b-bebf-3dba02ae5dff,0,1,0,0,0,54,2025-01-21 11:49:58.172,2025-02-28 11:55:04.999
2433,ff1ceaef-650c-422b-bdc3-6984e29e7aa5,0,0,0,0,0,162,0,0
2434,ff2cabd3-3316-4b3f-8494-c25f95e90524,0,1,0,0,0,57,2025-02-10 11:12:30.631,2025-02-10 12:37:47.892
2435,ff4909ad-4e52-4767-a6fc-0fbd76e37857,0,0,0,0,0,50,0,0

In [34]:
# Inserir algum valor no lugar do n/a de alguma coluna
df["dtCriacao"].fillna("2025-01-01 12:00:00.000")

0       2025-01-01 12:00:00.000
1       2025-01-01 12:00:00.000
2       2025-01-01 12:00:00.000
3       0000-00-00 00:00:00.000
4       2025-01-01 12:00:00.000
                 ...
2431    2025-01-01 12:00:00.000
2432    2025-01-21 11:49:58.172
2433    2025-01-01 12:00:00.000
2434    2025-02-10 11:12:30.631
2435    2025-01-01 12:00:00.000
Name: dtCriacao, Length: 2436, dtype: object